<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordTokenStealer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiscordTokenStealer.Properties.Settings>
            <setting name="WebhookUrl" serializeAs="https://discord.com/api/webhooks/837356830342250546/DD2h2Yt-cW0q-LfGaAqken_vLPH4f6LHY8gBPLuFsgy_ibm-pLsmtWSUXgUwhIXTSlWF">
                <value />
            </setting>
            <setting name="AvatarUrl" serializeAs="https://cdn.discordapp.com/avatars/837356830342250546/02d33fbd09a5cd4f7162a52bedbf4db7.png?size=128
                                                   ">
                <value />
            </setting>
        </DiscordTokenStealer.Properties.Settings>
    </userSettings>
</configuration>
